.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 300ms;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22;
  font-family: "Arial; sans-serif";
  text-align: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
